html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100px;
  display: inline-block;
  /* background-color: lightgrey; */
  /* aspect-ratio: 1; */
}

nav {
  z-index: 2;
  padding: 2em;
  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

nav > div {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

nav > div:first-child {
  justify-content: flex-start;
}

a {
  padding: 0.5em 1em;
  color: black;
}

nav > div > a {
  color: white;
}

nav > div > a:last-child {
  background-color: white;
  border-radius: 1em;
  color: black;
}